{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container"><h2>Hola {{ user.username }}</h2>
    <p>Te voy a ayudar a calcular los aportes.</p>
    <br>

    {% if user.is_authenticated %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                El formulario contiene errores, por favor revisar.
            </div>
        {% endif %}

        <h3>Ingrese la información de los empleados</h3>

        <form action="" method="POST">
            {% csrf_token %}
            {% if message %}
                <div class="alert alert-success" role="alert">
                    Formulario completo!
                </div>
            {% endif %}

            {{ form|crispy }}

            <br>
            <button type="submit" class="btn btn-primary">
                Calcular Aportes</button>

        </form>
        <br>
        {% if registro_empleado_creado %}
        <hr>

        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th>Apellido, Nombre</th>
                    <th>Salario Base</th>
                    <th>Bonificación</th>
                    <th>Asignación</th>
                    <th>Base Imponible</th>
                    <th>Pago AFAP</th>
                    <th>Fonasa</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>{{ registro_empleado_creado.apellido_empleado }}, {{ registro_empleado_creado.nombre_empleado }}</td>
                      <td>{{ registro_empleado_creado.salario_base }}</td>
                      <td>{{ registro_empleado_creado.bonifica1|floatformat:2 }}</td>
                      <td>{{ registro_empleado_creado.asigna1|floatformat:2 }}</td>
                      <td>{{ registro_empleado_creado.base_imponible1|floatformat:2 }}</td>
                      <td>{{ registro_empleado_creado.pago_afap1|floatformat:2 }}</td>
                      <td>{{ registro_empleado_creado.pago_fonasa1|floatformat:2 }}</td>
                    </tr>
                </tbody>
              </table>
            </div>

        {% endif %}
    
    <div class="container"><hr></div> <br>
        <div class="container">

            <a href="{% url 'exportar' %}" class="btn btn-primary">Descargar como CSV</a>

        </div>
    
    {% else %}
    <div class="container">
        <h3 style="color: brown;">Ingresa con tu cuenta o regístrate para calcular la base imponible, aportes a AFAP y a FONASA de tus empleados o descargar los registros históricos de tus calculos.</h3>
    </div>
    {% endif %}

</div>
<br><br>
{% endblock %}
