{% extends 'base.html' %}

{% block content %}

<div class="container"><h2>Ingrese</h2> 
<p style="color: brown;">si ya tiene un Usuario creado, para poder acceder a sus registros históricos</p>
</div>

<div class="col-md-6 offset-md-3">
    <h4>Ya tengo una cuenta creada</h4>
    <form method="post" action="{% url 'registro' %}"> 
        {% csrf_token %}
            <div class="mb-3">                
                <input type="text" class="form-control" name="user_name", placeholder="Ingrese su nombre de Usuario" required>
              </div>
            <div class="mb-3">              
              <input type="password" class="form-control" name="user_pass", placeholder="Ingrese su Clave" required>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</div>
<div class="container"><hr></div>
<div class="container"><h2>o Registrese</h2>
  <p style="color: brown;">para poder usar la aplicacion.</p>
  </div>

<div class="col-md-6 offset-md-3">

  <button class="btn btn-primary"><a href="{ url 'registrar_usuario' }"></a>Quiero Registrarme!</button>
  
</div>
{% endblock %}